<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - SK CMS</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    
</head>

<body>
    
    <div id="wrapper">
         <div id="header">
         
            <nav id="main nav">
                <ul class="nav nav-pills">
                    <li><a href="#">Start</a></li>
                    <li><a href="#">O nas </a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
            
         </div>
         
         <div id="main_content">
         
            {% block content %} {% endblock %}
            
         </div>
         
    </div>
    
</body>

</html>
